.badge
  padding 0.3em 0.6em !important
  font-size 0.9em !important
  color lighten($accentColor, 70%) !important
  margin-left 0.5em
  margin-top -0.1em
  border-color lighten($accentColor, 70%) !important
  border-width 1px
  border-style solid
  border-radius 3px
  background transparent !important
