// colors
$accentColor = #f1003e
$textColor = #fff
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 4.2rem
$sidebarWidth = 20rem
$contentWidth = 740px
$internalHeroHeight = 15em

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
