// colors
$accentColor = #DC143C
$textColor = #2c3e50
$borderColor = #fff
$codeBgColor = #434852
$shadowColor = #bdbdbd

// layout
$navbarHeight = 56px
$sidebarWidth = 20rem
$contentWidth = 740px
$internalHeroHeight = 15em

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 1rem
