code, kbd, pre, samp
  font-family: $font-code

.content.custom {
  display: block;
  min-height: 150px;
  font-size: 16px;
  line-height: 1.8em;
  color: $content-color;
  font-family: Georgia,"Times New Roman",Times,serif;

  p {
    word-wrap: break-word;
    margin: 0 0 12px;
  }

  h1, h2, h3, h4, h5, h6, ol, ul, pre, table {
    margin-bottom: 1.2em
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 2em 0 5px;
    margin: -1.8em 0 5px;
    color: #333;
    text-transform: capitalize;
    border-bottom: 1px solid #ddd;

    .header-anchor {
      margin-left: -1em;
      padding-right: 4px;
      color: #bd4147;
      opacity: 1;
      text-decoration: none;
    }

    &:hover {
      .header-anchor {
        opacity: 1;
      }
    }
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 18px;
  }

  a {
    font-weight bold
    position relative
    text-decoration none
    color: #bd4147
    &:after {
      content ''
      position absolute
      left 0
      bottom 0
      height 1px
      width 100%
      background rgba($primary-color, .2)
      transition height 200ms ease-in
    }
    &:hover:after {
      height 100%
    }
  }

  blockquote {
    margin 2em 0 2em 1em
    padding 4px 24px 0px 10px
    font-style italic
    font-size 15px
    color $gray-color
    border-left .375em solid $primary-color
    p {
      margin-top: 0
      &:last-child {
        margin-bottom: 0
      }
    }
    footer {
      font-size 80%
    }
  }

  strong {
    font-weight: 600;
    margin: 0 0.2em;
  }

  code, kbd {
    display: inline;
    margin: 0 0.3em;
    padding: .125em .25em;
    box-shadow: none;
  }

  pre,
  pre[class*="language-"] {
    margin-left: -1.75em;
    margin-right: -1.75em;
    padding: 1.25em 1em 1em 5.75em
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.6;
    background: $codeBgColor;
  }
  pre[class*='language-'] {
    position relative
    &:before {
      position: absolute;
      top: 0.8em;
      right: 1em;
      font-size: .86em;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  pre {
    code {
      margin: 0;
      padding: 0;
      background-color: transparent;
      font-size: .86em;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.8);

      &:before, &:after {
        content: '';
        letter-spacing: 0;
      }
    }
  }

  ol, ul {
    padding-left: 2em;
  }

  table {
    width: 100%;
    border: 1px solid #dedede;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      tr {
        background: #f8f8f8;
      }
    }

    tbody {
      tr {
        &:hover {
          background: #efefef;
        }
      }
    }

    td, th {
      border: 1px solid #dedede;
      padding: .375em .75em;
    }
  }

  video, audio {
    max-width: 100%;
  }

  .highlighted-line {
    display: block;
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    background-color: rgba(0, 0, 0, 66%);
  }

  *:first-child {
    margin-top 0
  }
}

div[class*="language-"]
  position relative
  background-color $codeBgColor
  border-radius 6px
  .highlight-lines
    user-select none
    padding-top 1.3rem
    position absolute
    top 0
    left 0
    width 100%
    line-height 1.4
    .highlighted
      background-color rgba(0, 0, 0, 66%)
  &:not(.line-numbers-mode)
    .line-numbers-wrapper
      display none
  &.line-numbers-mode
    .highlight-lines .highlighted
        position relative
        &:before
          content ' '
          position absolute
          z-index 3
          left 0
          top 0
          display block
          width $lineNumbersWrapperWidth
          height 100%
          background-color rgba(0, 0, 0, 66%)
    pre
      padding-left $lineNumbersWrapperWidth + 1 rem
      vertical-align middle
    .line-numbers-wrapper
      position absolute
      top 0
      width $lineNumbersWrapperWidth
      text-align center
      color rgba(255, 255, 255, 0.3)
      padding 1.25rem 0
      line-height 1.4
      br
        user-select none
      .line-number
        position relative
        z-index 4
        user-select none
        font-size 0.85em
    &::after
      content ''
      position absolute
      z-index 2
      top 0
      left 0
      width $lineNumbersWrapperWidth
      height 100%
      border-radius 6px 0 0 6px
      border-right 1px solid rgba(0, 0, 0, 66%)
      background-color $codeBgColor

for type, exts in $code-languages
  pre
    &.language-{exts[0]}:before
      content type
    if exts[1]
      &.language-{exts[1]}:before
        content type

.custom-block
  margin-bottom 1.2em
  padding 1em 1.5em 0.2em
  border-left-width .375em
  border-left-style solid
  border-radius 4px
  &-title
    font-weight 600
  for type, color in $custom-blocks
    &.{type}
      color darken(color, 20%)
      border-color color!important
      background lighten(color, 90%)!important

.title
  white-space normal !important

.MathJax, .MathJax_PHTML, .MathJax_CHTML, .MathJax_SVG, .MathJax_MathML
  color: blue;

.MathJax_Display
  overflow-x: auto;
  overflow-y: hidden;

@media (min-width: $MQMobile)
  .mb-3
    margin-bottom: 8px !important;
  .display-1
    font-size: 28px !important;

.markdown-body p
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 14px;

.gt-container *
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 14px;