.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    color: #3d8c40;
    border-color: #4caf50!important;
    background: #edf7ed!important;
  &.warning
    color: #cc7a00;
    border-color: #ff9800!important;
    background: #fff5e5!important;
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    color: #e73700;
    border-color: #ff5722!important;
    background: #ffeee9!important;
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor
