# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#yarn
yarn-error.log

#idea
.idea

#npm
npm-debug.log

# crontab.log
crontab.log

# access.log
access.log

# log
/log
