# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

#yarn
yarn-error.log

#idea
.idea

#npm
npm-debug.log

# crontab.log
crontab.log

# access.log
access.log

# gradle
.gradle

*/build/
*/code/
*/out/
*/*/out/
*/logs/
*/classes/
*/*/classes/

# some . file
.DS_Store
.factorypath
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
.factorypath
.springBeans
*.class
*.iml
*.ipr
*.iws
*.jar
test.html

manifest.yml
MANIFEST.MF
settings.xml
application.yml
activemq-data
overridedb.*
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/

lib/
target
